enable-pre-post-scripts=false
ignored-build-scripts[]=!@parcel/watcher
ignored-build-scripts[]=!@swc/core
ignored-build-scripts[]=!esbuild
ignored-build-scripts[]=!lmdb
ignored-build-scripts[]=!msgpackr-extract
ignored-build-scripts[]=!sharp
